.cart-item-heading{
    text-align: left;
    padding: 2rem;
    border-bottom: 2px 2px 2px black;
}
.cart{
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
    margin: 2rem;
    justify-content: space-between;
}
.nav-button{
    box-shadow: 5px 5px 5px grey;
}
.continue-container{
    display: flex;
    align-items: baseline;
}