.cart-item-heading{
    text-align: left;
    padding: 1rem;
    border-style: none none solid none;
    margin: 2rem;
    font-size: 2rem;
}
.cart{
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
    margin: 2rem;
    justify-content: space-between;
    align-items: flex-end;
}
.nav-button{
    box-shadow: 5px 5px 5px grey;
}
.continue-container{
    display: flex;
    align-items: baseline;
}
.checkout-container{
    padding: 3%;
    border: solid 1px black;
    border-radius: 3px;
}
.order-table{
    overflow-x:scroll;
}


   