.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(75, 72, 72);
    color: whitesmoke;
    padding: 1% 3%;
}
.navigation-links{
    color: blanchedalmond;
}
