
.checkout{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  margin :5%
}
.checkout-message{
  margin: 4rem;
}