.product{
    border-radius: 10px;
    margin: 2% 5%;
    text-align: center;
    width: 15%;
    box-shadow: 1px 5px 5px lightgray;
}
.quantity-placard{
    background-color: rgb(243, 235, 235);
    padding: 10px;
    margin: 5%;
}
.product-image{
    width: 100%
}
.product-image-div{
    height: 7rem;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:427px){
    .product{
        width: 80%;
    }
}
@media screen and (max-width:912px) and (min-width:426px){
    .product{
        width: 30%;
    }
}