.product{
    border: solid thin gray;
    margin: 1%;
    padding: 10px;
    text-align: center;
    width: 15%;
}
.quantity-placard{
    background-color: rgb(221, 213, 213);
}
.product-image{
    width: 100%
}
.product-image-div{
    height: 10rem;
    display: flex;
    justify-content: center;
}