td, th {
    border: 1px solid #999;
    padding: 0.5rem;
}
thead{
    background-color: grey;
    color: black;
}
table {
    border-collapse: collapse;
    border: azure;
    box-shadow:2px 2px 2px rgb(110, 109, 109);
    margin: 2rem;
    overflow-x:scroll;
}
