td, th {
    text-align: center;
    padding: 0.5rem;
}
thead{
    background-color: rgb(88, 87, 87);
    color: whitesmoke;
}
tbody tr:nth-child(odd){
    background-color: #bfc2c7;
    color: rgb(12, 12, 12);
}
table {
    border-collapse: collapse;
    border: 1px solid #999;
    margin: 0rem 5rem;
    overflow-x:scroll;
    width: 80%;
}
